@if $use-button == true {

// !BUTTON

.btn {

    // reset
    // reusable e.g. variations

    display: block;
    padding: 5px 20px;
    border: 1px solid white;

    span{

        float: right;
        display: block;
        width: 20px;
        color: white;

    }

    .is-active {



    }

}

// this is a modification of the btn object

.site-header {

    .btn {

        background: red;

    }

}

// what if all of btn needed overidding site wide?

// e.g

.btn {

    padding: 20px;
    border: none;
    background: red;

    span {

        float: left;
        width: 10px;

    }

}

.site-header {

    .btn {

        background: green;

    }

}

}