// !FONTS

@font-face {
    font-family: 'sweet_sanslight_small_caps';
    src: url('../fonts/sweetsans-lightsc-webfont-webfont.eot');
    src: url('../fonts/sweetsans-lightsc-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sweetsans-lightsc-webfont-webfont.woff') format('woff'),
         url('../fonts/sweetsans-lightsc-webfont-webfont.ttf') format('truetype'),
         url('../fonts/sweetsans-lightsc-webfont-webfont.svg#sweet_sanslight_small_caps') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sweet_sansmedium_small_caps';
    src: url('../fonts/sweetsans-mediumsc-webfont-webfont.eot');
    src: url('../fonts/sweetsans-mediumsc-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sweetsans-mediumsc-webfont-webfont.woff') format('woff'),
         url('../fonts/sweetsans-mediumsc-webfont-webfont.ttf') format('truetype'),
         url('../fonts/sweetsans-mediumsc-webfont-webfont.svg#sweet_sansmedium_small_caps') format('svg');
    font-weight: normal;
    font-style: normal;

}