// !HELPERS

// !Selection

::-moz-selection {
    background: $cs-selection__bg;
    color: $cs-selection__color;
    text-shadow: none;
}

::selection {
    background: $cs-selection__bg;
    color: $cs-selection__color;
    text-shadow: none;
}

// !HR
// A better looking default horizontal rule

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// !CLEARFIX

%grp,
.grp {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// !CHROMEFRAME

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// !TOOLS

// !BorderBox

* {
    @include box-sizing(border-box);
}

// !Visually Hidden

.vh {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
}