// !HELPERS

// !Selection

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// !HR
// A better looking default horizontal rule

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

// !IMG
// Remove the gap between images and the bottom of their containers: h5bp.com/i/440 (Make it responsive)

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

// !FORMS
// !Fieldset //*** move to forms base
// Remove default fieldset styles.

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// !Textarea
// Allow only vertical resizing of textareas

textarea {
    resize: vertical;
}

// !Chromeframe prompt

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// !Clearfix
// Contain floats: nicolasgallagher.com/micro-clearfix-hack/

%grp {
    zoom: 1;

    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

// !TOOLS
// !BorderBox

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
}

// http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
.image-replacement {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.vh {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
}