// !MQ Custom
// https://github.com/guardian/sass-mq

$mq-responsive: true;

$mq-breakpoints: (
    (mobile  300px)
    (desktop-small 768px)
    (desktop 1020px)
    (wide    1260px)
);
$ipad-landscape: '(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)';