// !SETUP

// !TOC
// 1. Configure true|false

// !1. Configure
// Used to deviate from the default configuration.

// !--Dependencies
$use-grids:        false;
$use-flexslider:   false;

// !--Themes
$use-site-themes:   false;
$use-page-themes:   false;
$use-module-themes: false;