// !VARIABLES

// !TOC
// 1. Colors
// 2. Font Stacks

// !Color Scheme

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$cs-black:			rgb(30,36,37);
$cs-black-alpha:	rgba(0,0,0, 0.7);

$cs-yellow: 		rgb(253,186,49);

// !Fonts

$serif:             "lexia", serif;
$sans-serif:        "Helvetica Neue", sans-serif;