// !VARIABLES

// !TOC
// 1. Colors
// 2. Font Stacks

// !Color Scheme

$white: rgb(255,255,255);
$black: rgb(0,0,0);

$blue: rgb(0,0,255);
$blue-light: rgb(0,0,255);
$blue-dark:  rgb(0,0,255);

// !Fonts

$sweet-light: 'sweet_sanslight_small_caps', sans-serif;
$open-sans:   'Open Sans', sans-serif;
$courier:     'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;