// !VARIABLES

// !--Colors
// !---Default

$white: rgb(255,255,255);
$black: rgb(0,0,0);

// !---Styleguide

$cs-color:          rgb(253,186,49);
$cs-color-alpha:	rgba(253,186,49, 0.5);


// Colours for mouse highlight
$cs-selection__bg: $cs-color; //** Edit
$cs-selection__color: $black; //** Edit  

$cs-link: $cs-color; //** Edit 

// !--Font Face

$serif:             Georgia, Times, "Times New Roman", serif;
$sans-serif:        Arial, "Helvetica Neue", Helvetica, sans-serif;
$monospaced:        "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;