// !FORMS

// !Fieldset
// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


// !Textarea
// Allow only vertical resizing of textareas
textarea {
    resize: vertical;
}


